.creditsContainer {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.creditPageTextLarge {
  margin-top:2vh;
  font-size: 3vmin;
  margin-left:25vw;
  width: 50vw;
}

.creditPageTextSmall {
  margin-top:2vh;
  font-size: 2vmin;
  margin-left:25vw;
  width: 50vw;
}

.contributor {
  text-align: center;
  width:max(25vw,300px);
  border: 2px solid white;
}

a {
  color: #21255a;
}

a:hover {
  color: #5A5621;
}

.sourcecode {
  color: #5a2125;
  text-decoration: underline;
  font-weight: bold;
}

.sourcecode:hover {
  color: #215a56;
}

h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-size: 7vh;
}

.header {
  margin-top: -5vh;
  background-color: #21255a;
  height: 12vh;
}