body {
  background-color: white;
  text-align: center;
}
.leaflet-container {
  background-color: rgb(178, 210, 222);
}

div {
  text-align: center;
  font-size: 2vmin;
  color: #21255a;
}

.countrylabel {
  font-size: 4vmin;
  color: #21255a;
  text-align: center;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  text-align: center;
  width: auto;
}

#viewmorebutton{
  background-color: #21255a;
  color: white;
  padding: .66em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25vmin;
}

#viewmorebutton:hover {
  color: gray;
}

#viewmorebutton:active {
  color: gray;
}

.hover-info {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  top: max(80px,12vh);
  right: 2vw;
  height: 24px;
  padding: 2vh 1vw;
  border-radius: 5px;
  color: #fff;
  font-size: max(16px,4vmin);
  background: rgba(0,0,0,0.8);
}

.legend {
  position: absolute;
  z-index: 999;
  left: 1vw;
  bottom: 2vh;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(255,255,255, 0.3);
  font: 2vmin;
  background: rgba(0,0,0,0.8);
}
.legend > p {
  margin-top: -1vh;
  font-size: max(12px,2vmin);
  color: white;
  width: max(200px, 54vmin);
  text-align: left;
}
.legend > div {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  font-size: max(12px,1.7vmin);
  padding: 0px 0px;
  color: #fff;
}
.legend > div::before {
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: var(--color);
}

.hovercontainer {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: right;
  top: max(72px,12vh);
  right: 2vw;
  padding: 1vh 1vw;
  border-radius: 5px;
  color: #fff;
  font-size: max(16px,4vmin);
  box-shadow: 0 0 5px 0 rgba(255,255,255, 0.3);
  background: rgba(0,0,0,0.8);
}
.hovercontainer strong {
  display: block;
  padding-bottom: 5px;
}
.hovercontainer span {
  text-align: right;
}