
.aboutContainer {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}
.contributor {
  text-align: center;
  width:33vw;
}

h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-size: 7vh;
}

.header {
  margin-top: -45px;
  background-color: #21255a;
  height: 12vh;
}