.contactContainer {
  justify-content: center;
  text-align: center;
  margin-left: 25vw;
}

p {
  height: 80%;
  width: 50vw;
  color: #21255a;
  font-size: 3vmin;
}

h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-size: 7vmin;
}

.header {
  margin-top: -45px;
  background-color: #21255a;
  height: 12vh;
}