.contribContainer {
  color: #21255a;
  font-size:30px;
}

.userinfo-name {
  vertical-align: bottom;
  text-decoration: underline;
  font-weight: bold;
  font-size:2.7vmin;
}

.textinfo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.info {
}

.infolinks {
  margin-top: 7px;
}

img.rounded {
  margin-top: 4vh;
  height: 100px;
  width:100px;
  object-fit:cover;
  border-radius: 50%;
  border: 4px solid #21255a;
  background-color: #21255a;
}