.contactContainer {
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-size: 7vmin;
}

.header {
  margin-top: -45px;
  background-color: #21255a;
  height: 12vh;
}