.creditsContainer {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.creditPageText {
  margin-top:2vh;
  font-size: 2vmin;
  margin-left:25vw;
  width: 50vw;
}

.contributor {
  text-align: center;
  width:33vw;
}

a {
  color: #21255a;
}

a:hover {
  color: #5A5621;
}

h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-size: 7vh;
}

.header {
  margin-top: -45px;
  background-color: #21255a;
  height: 12vh;
}