.creditsContainer {
  justify-content: center;
}

.contributor {
  margin-left: 37.5vw;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 1vw;
  width: 25vw;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

h1 {
  color: white;
  text-align: center;
}