body {
  background-color: white;
  text-align: center;
}
.leaflet-container {
  background-color: rgb(178, 210, 222);
}

p {
  text-align: center;
  font-size: 2vmin;
  color: #21255a;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  text-align: center;
  font-size: 14px;
}

#viewmorebutton{
  background-color: #21255a;
  color: white;
  padding: .66em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

#viewmorebutton:hover {
  color: gray;
}

#viewmorebutton:active {
  color: gray;
}

.hover-info {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  top: 120px;
  right: 50px;
  height: 24px;
  padding: 2vh 1vw;
  border-radius: 5px;
  color: #fff;
  font-size: 3vmin;
  background: rgba(0,0,0,0.8);
}

.info {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: right;
  top: 120px;
  right: 50px;
  padding: 1vh 1vw;
  border-radius: 5px;
  color: #fff;
  font-size: 3vmin;
  box-shadow: 0 0 5px 0 rgba(255,255,255, 0.3);
  background: rgba(0,0,0,0.8);
}
.info strong {
  font-size: 3vmin;
  display: block;
  padding-bottom: 5px;
}
.info span {
  text-align: right;
}