span {
  font-size: 8vh;
  color:white;
}
.container {
  background-color:#21255a;
  height:100px;
  font-size:4vh;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.child-left {
  text-align: left;
  font-family: leaves_and_ground;
  flex: 1;
  align-items: flex-start;
  margin-left: 5vh;
}
.child-right {
  font-family:Ultrathins;
  align-items: flex-end;
  margin-right: 5vh;
}

.selected {
  color: white;
}

.nav_link {
  font-weight: bold;
  text-decoration: none;
  color:white;
  margin-left: 50px;
}

.nav_link_img {
  font-weight: bold;
  text-decoration: none;
  color:white;
  margin-right: 20px;
}
.nav_link:hover {
  color: gray;
}
.nav_link:active{
  color:gray;
}