span {
  color:white;
  font-size: 8vmin;
}

.container {
  background-color:#21255a;
  height:10vmin;
  display: flex;
  align-items: center;
}

.child-left {
  font-family: leaves_and_ground;
  flex: 1;
  margin-left: 5vh;
  text-align: left;
  font-size:8vmin;
  flex-wrap: nowrap;
}
.child-right {
  font-family:Ultrathins;
  margin-right: 5vw;
  font-size:4vmin;
}

.selected {
  color: white;
}

.nav_link {
  font-weight: bold;
  text-decoration: none;
  color:white;
  margin-left: 4vw;
}

.nav_link_img {
  font-weight: bold;
  text-decoration: none;
  color:white;
  margin-right: 1vw;
}

img {
  width: 7vmin;
  height: 5vmin;
}

.nav_link:hover {
  color: gray;
}
.nav_link:active{
  color:gray;
}