svg {
  display: block;
  width: 200vh;
  height: 80vh;
  stroke:black;
  stroke-width: 1;
}

svg .country:hover {
  cursor: pointer;
  fill:rgb(102, 230, 102);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}